.amplify-button--primary {
  background: #00234F;
}

.amplify-button--primary:hover {
  background: #023a7f;
}

.amplify-tabs__item--active {
  color: #023a7f;
  border-color: #023a7f;
}

.amplify-tabs__item:hover {
  color: #023a7f;
}